<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contatos</title>
</head>
<body>
    <h1>Contatos</h1>
    <p>Nossos contatos são: </p>
    <p>Email: aaaaaaa@gmail.com </p>
    <p>Telefone: 48999999999</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat id unde 
        earum corporis architecto nemo accusamus cupiditate nisi itaque laudantium ad libero 
        ipsum cumque, suscipit voluptatem, corrupti, natus voluptatibus animi.</p>
</body>
</html>