<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
    <h1>Seja bem vindo!</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui veritatis consequuntur fugiat sit. Eveniet, cupiditate cum. Qui illum iure corporis. Ut voluptas libero et necessitatibus saepe pariatur earum natus voluptatum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae non consequuntur commodi dolores odit ipsum quas velit ducimus nihil quo tenetur id, laudantium, at eum corporis excepturi repellat consectetur! Laudantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, recusandae voluptatibus? Officia quaerat labore facere incidunt eos, qui sit exercitationem cumque quisquam quas ducimus cupiditate repellat iste unde maiores. Quo!</p>
</body>
</html>